@model DierenManagement.ViewModels.BookingViewModel

<link rel="stylesheet" href="~/css/StyleSheet.css">

<div style="display:flex; justify-content:space-between ">
    <span class="dot" style="background-color:lightgreen">step1</span>
    <span class="dot">step2</span>
    <span class="dot">step3</span>
</div>

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger"style="margin-top:20px">
       <ul>
            @Html.Raw(@ViewBag.Error)
       </ul>
    </div>
}

<div style="background-color:burlywood; margin-top:20px;height:40px">
    <p style="font-weight:bold; text-align:center"> Step 1 -Select Animal(s)</p>
</div>

<div style="background-color:floralwhite; display:flex; justify-content:space-between">
<form asp-controller="Booking" asp-action="BookButton" method="get">
    <div style="display:flex; justify-content:center">
        <h1>Date: @Model.Date</h1>
    </div>

    @Html.HiddenFor(m => m.Date)

    @for (var i = 0; i < Model.Animals.Count; i++)
    {
        <div style="display: inline-block; margin: 10px; text-align: center;">
            <div style="border: 1px solid #ccc; padding: 10px;">

                <label style="cursor:pointer">
                <img src="@Model.Animals[i].Pic" alt="@Model.Animals[i].Name" style="width: 250px; height: 250px;" />
                <br />
                
                    @Html.HiddenFor(m => m.Animals[i].Id)
                    @Html.HiddenFor(m => m.Animals[i].Name)
                    @Html.HiddenFor(m => m.Animals[i].Pic)
                    @Html.HiddenFor(m => m.Animals[i].Price)
                    @Html.HiddenFor(m => m.Animals[i].AnimalType)
                    @Html.CheckBoxFor(m => m.Animals[i].IsSelected) @Model.Animals[i].Name
                    <br />
                    Price: @Model.Animals[i].Price
                    <br/>
                    Type: @Model.Animals[i].AnimalType
                </label>
            </div>
        </div>
    }
    <input type="hidden" name="UserId" value="@Model.UserId">
        <div style="display:flex;justify-content:center">
        <button type="submit" style="display:block; height:40px; width:100px" class="btn-success">Book</button>
    </div>
</form>
</div>

