@model DierenManagement.ViewModels.BookingViewModel

<link rel="stylesheet" href="~/css/StyleSheet.css">

<div style="display:flex; justify-content:space-between ">
    <span class="dot" style="background-color:lightgreen">step1</span>
    <span class="dot">step2</span>
    <span class="dot">step3</span>
</div>

<div style="background-color:burlywood; margin-top:80px;">
    <p style="font-weight:bold; text-align:center"> Step 2 -Select Animal(s)</p>
</div>

<div style="background-color:floralwhite; display:flex; justify-content:space-between">
<form asp-controller="Booking" asp-action="BookingData" method="post">
    <h1>Date: @Model.Date</h1>

    @Html.HiddenFor(m => m.Date)

    @for (var i = 0; i < Model.Animals.Count; i++)
    {
        <div style="display: inline-block; margin: 10px; text-align: center;">
            <div style="border: 1px solid #ccc; padding: 10px;">
                <img src="@Model.Animals[i].Pic" alt="@Model.Animals[i].Name" style="width: 150px; height: 150px;" />
                <br />
                <label>
                    @Html.HiddenFor(m => m.Animals[i].Id)
                    @Html.HiddenFor(m => m.Animals[i].Name)
                    @Html.HiddenFor(m => m.Animals[i].Pic)
                    @Html.HiddenFor(m => m.Animals[i].Price)
                    @Html.CheckBoxFor(m => m.Animals[i].IsSelected) @Model.Animals[i].Name
                    <br />
                    Price: @Model.Animals[i].Price
                </label>
            </div>
        </div>
    }
    <input type="hidden" name="UserId" value="@Model.UserId">
    <button type="submit" style="display:block" class="btn-success">Book</button>
</form>
</div>

